body {
    margin: 0;
}

p {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    left: 60px;
    top: -32px;
    transition: 1s;
}

i {
    padding: 7px;
    color: black;
    font-size: 1.3em;
    transition: 1s;
}

section {
    width: 70%;
    margin: 0 auto;
    height: 100px;
    background: #0e83cd;
    margin-bottom: 20px;
    padding-top: 20px;
}


/* hover effect 1 */

.list {
    display: flex;
}


/* ul li {
  list-style: none;
} */

.list a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    font-size: 17px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.list a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
    margin: 8px;
    height: 0px;
}

.list a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.list a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
}

.list a:hover:before {
    top: 0;
    background: #3b5999;
}


/* effect2 */

.iconRotate {
    position: relative;
    color: gray;
    width: 50px;
    margin: 0 1%;
    height: 50px;
    display: inline-block;
    text-align: center;
    perspective: 50em;
    /* text-decoration: none;  */
}

.iconRotate::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid black;
    content: '';
    /* z-index: -1;  */
    border-radius: 50%;
}

.iconRotate::before {
    color: #fff;
}

.iconRotate::before,
.iconRotate::after {
    transition: all 0.45s ease-in-out;
}

.iconRotate:hover {
    color: #fdd921;
}

.iconRotate:hover::after {
    border-color: #fdd921 transparent #fdd921 transparent;
    transform: rotate(360deg);
}

.iconR {
    font-size: 2em;
    padding-top: 10px;
}

.iconRotate:hover .iconR {
    color: red;
}


/* effect3 */

.iconback {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    transition: 1s;
    margin: 10px;
}

.iconback i {
    font-size: 25px;
    margin-top: 8px;
}

.icon {
    float: left;
    transition: all 1s;
}

.icon:hover {
    background-color: goldenrod;
}

.icon:hover i {
    transform: scale(0.8);
    color: red;
}


/* effect4 */

.back1 {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: gold;
    margin-top: 6px;
    margin-left: 5px;
    transition: .6s;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
}

.back2 {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    display: inline-block;
    transition: .6s;
    margin-top: 10px;
    margin-left: 20px;
    transition: .6s;
}

.i {
    font-size: 1.3em;
    padding: 13px;
    transition: .6s;
}

.back2:hover {
    border: 1px solid white;
}

.back2:hover .back1 {
    background-color: white;
    /* transform: scale(1.1); */
}

.back2:hover .i {
    color: cyan;
}


/* effect5 */

.half-colored {
    background-color: violet;
    width: 70%;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

.half-colored ul li {
    list-style: none;
    float: left;
    margin: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    background-color: #FFF;
    overflow: hidden;
    color: #000;
    position: relative;
    transition: all .5s ease-in-out;
    transform: rotate(45deg);
    z-index: 1;
}

.half-colored ul li i {
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
    color: #262626;
}

.half-colored ul li:hover i {
    color: #FFF;
}

.half-colored ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all .5s ease-in-out;
    z-index: -1;
}

.half-colored ul li:nth-child(1):before {
    background-color: #3b5998;
}

.half-colored ul li:nth-child(2):before {
    background-color: #55acee;
}

.half-colored ul li:nth-child(3):before {
    background-color: #dd4b39;
}

.half-colored ul li:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #dd4b39;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    z-index: -2;
    opacity: .9;
}

.half-colored ul li:nth-child(1):after {
    background-color: #3b5998;
}

.half-colored ul li:nth-child(2):after {
    background-color: #55acee;
}

.half-colored ul li:nth-child(3):after {
    background-color: #dd4b39;
}

.half-colored ul li:hover:after {
    top: 0;
}


/* effect6 */


/* Start Feel In  */

.feed-in {
    background-color: #FF003D;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.feed-in ul {
    padding: 0;
    position: relative;
    top: 0px;
}

.feed-in ul li {
    list-style: none;
    float: left;
    margin: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    background-color: #FFF;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 1;
}

.feed-in ul li:hover {
    color: #FFF;
}

.feed-in ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF003D;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    transform: scale(0);
    z-index: -1;
}

.feed-in ul li:hover:before {
    transform: scale(.9);
}


/* effect7 */

.cardbox ul {
    position: relative;
    top: 55px;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 40px;
}

ul li a i {
    font-size: 30px;
    color: black;
    line-height: 60px;
    transition: .5s;
}

ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background: #808080;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -30px 30px 10px rgba(0, 0, 0, .5);
}

ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

ul li:hover i {
    color: white;
}

ul li:hover:nth-child(1) a {
    background: #122246;
}

ul li:hover:nth-child(3) a {
    background: #2d5370;
}

ul li:hover:nth-child(2) a {
    background: #af4b5e;
}

ul li:hover:nth-child(4) a {
    background: #0E76A8;
}


/* effect8 */

.cardbox {
    width: 70%;
    height: 220px;
    background-color: aqua;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}

.back {
    width: 100px;
    height: 25px;
    border-radius: 0px 25px 25px 0px;
    background-color: plum;
    margin-bottom: 10px;
    transform: translateX(-64px);
    transition: 1s;
    font-size: 14px;
    padding: 10px;
}

.back:hover {
    transform: translateX(0px);
    background-color: blueviolet;
}

.back:hover .fab {
    /* transform: translateX(10px); */
    color: white;
    transform: rotate(360deg);
}

.back:hover p {
    background-color: red;
}


/* effect9 */

.list1 {
    display: flex;
}

.list1 a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    font-size: 17px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.list1 a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 2;
    margin: 8px;
    height: 0px;
}

.list1 a:hover .icon {
    color: #fff;
}

.list1 a::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: .5s;
    /* z-index: 2; */
}

.list1 a:hover::before {
    left: 0%;
    background: palevioletred;
}


/* effect10 */

.icon1 {
    position: relative;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 10px;
    z-index: 3;
    color: white;
    font-size: 20px;
}

.circle1 {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    z-index: 1;
    border-radius: 100%;
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    border: 3px solid rgba(255, 255, 255, .1);
    transition: all.6s;
}

.circle1:hover {
    animation: animation1 4s linear infinite;
}

@keyframes animation1 {
    0% {
        transform: scale(.6);
        /* opacity: .35; */
    }
    50% {
        transform: scale(.7);
        /* opacity: .35; */
    }
    60% {
        transform: scale(.8);
        /* opacity: .2; */
    }
    70% {
        transform: scale(.9);
        /* opacity: .2; */
    }
    80% {
        transform: scale(1.1);
        /* opacity: .3; */
    }
    100% {
        transform: scale(1.2);
        /* opacity: .5; */
    }
}


/* effcet11 */

.circle2 {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, .1);
    border-radius: 100%;
    transition: all.6s;
    background: #ffad06;
}

.circle2:hover {
    animation: animation 4s infinite;
}

@keyframes animation {
    0% {
        transform: translateX(0px);
    }
    /* 25%{ 
       transform: translateX(5px);

    } */
    50% {
        transform: translateX(10px);
    }
    /* 75%{
        transform: translateX(-10px);

    } */
    100% {
        transform: translateX(0px);
    }
}


/* effect12 */


/* flip icon*/

.cardbox1 {
    perspective: 500px;
    margin: 15px;
    float: left;
}

.card {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #55acee;
}

.google {
    background-color: #dd4b39;
}

.linkdin {
    background-color: #3b5998;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    color: #FFF;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-front {
    font-size: 30px;
}

.card-back {
    font-size: 14px;
    transform: rotateY(180deg)
}

.cardbox1:hover .card {
    transform: rotateY(180deg);
}


/* effect13 */

.tow-colored {
    background-color: #FF003D;
    display: flex;
    width: 70%;
    margin: auto;
}

.tow-colored ul li {
    list-style: none;
    float: left;
    margin: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    overflow: hidden;
    color: #262626;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 1;
}

.tow-colored ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FF003D;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    transform: scale(0);
    z-index: -1;
}

.tow-colored ul li:hover::before {
    transform: scale(1);
    left: 0;
    background-color: #3b5998;
}

.tow-colored ul li i {
    transition: all .5s ease-in-out;
}

.tow-colored ul li:hover i {
    color: #FFF;
}

.tow-colored ul li:after {
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    right: -100%;
}

.tow-colored ul li:hover:after {
    right: 0;
}


/* .icon5{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 2px dotted white;
    text-align: center;
  
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    float: left;

}
.icon5::before{
    width:0px;
    height:0px;
    
    content: '';
    position: absolute;
    top:25px;
    left:25px;
    border-radius: 100%;
    transition: all 1s ;

}
.icon5:hover::before{
    width:50px;
    height:50px;
    background-color:white;
    border-radius: 100%;
    top:0px;
    left:0px;
    
}



.icon5 i{
    font-size: 25px;
    padding-top: 12px;
    transition: 1s;
  
    

}
.icon5 i:hover{
    
    transform: rotate(360deg)scale(1.3);
}

  
     */

@media only screen and (max-width: 430px) {
    .iconRotate {
        margin: 0 3%;
    }
    .back2 {
        margin-left: 0;
    }
    .half-colored ul li {
        margin-left: 0px;
    }
    .feed-in ul li {
        margin-left: -1px;
    }
    ul li {
        margin: 0 8px;
    }
    .circle1 {
        margin-left: 7px;
    }
    .circle2 {
        margin-left: 7px;
    }
    .cardbox1 {
        margin: 7px;
    }
    .tow-colored ul li {
        margin: 7px;
    }
}